<div class="container">
  <h3>
  This is the home page for the North Texas Golfers Association. This site keeps track of all the rounds played by NTGA members. Members can view rounds and can view their scores for every round tracked.
  </h3>
  <h3> 
  If you not a member but would like to join our golfing family, please click here 
  to <%= link_to "Sign up", new_golfer_path %>. 
  </h3>
  <h3>
  We always welcome new members!
  </h3>
</div>
